<%= turbo_frame_tag planner_item do %>
  <div class="should-item" id="<%= dom_id(planner_item) %>">
    <%= button_to toggle_planner_item_path(planner_item), method: :patch, form: { data: { turbo_frame: "_top" } },
        class: "should-ring #{'should-ring--done' if planner_item.completed?}" do %>
      <% if planner_item.completed? %>&#10003;<% end %>
    <% end %>

    <span class="should-text<%= ' should-text--done' if planner_item.completed? %>"
          data-controller="inline-edit"
          data-inline-edit-url-value="<%= planner_item_path(planner_item) %>"
          data-inline-edit-model-value="planner_item"
          data-action="click->inline-edit#edit">
      <%= planner_item.title %>
    </span>

    <button class="should-remove"
            data-action="click->delete-confirm#show"
            data-delete-confirm-title-param="<%= planner_item.title %>"
            data-delete-confirm-url-param="<%= planner_item_path(planner_item) %>">&#215;</button>
  </div>
<% end %>
